.awesome-box {
  margin: 80px auto;
  width: 200px;
  height: 200px;
  background: linear-gradient(135deg, #12bd6d, #fad0c4);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  color: white;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
}
